body {
	background: url(property.jpg);
	background-position: center;
	background-size: cover;
    
  
    font-family: "Nunito", sans-serif;
}
.jumbotron {
	background: url(paper.jpg);
	background-position: center;
	background-size: cover;
}



#nav{
 	text-transform: uppercase;
 	font-size: 1.5rem;
 	font-weight: 100;

 }

#nav .nav-link:hover {
color: rgb(113, 111, 120);
 }
 #nav .nav-link {
color: white;
 }
 #nav .navbar-brand {
 	color: white;
 	font-size: 1.7em;
 }

.navbar.scrolled {
    background: url(pattern3.jpeg);
    transition: background 500ms;
}